[submodule "docs/_projects/assets"]
	path = docs/_projects/assets
	url = https://github.com/labdao/assets.git
[submodule "docs/_applications/salmon"]
	path = docs/_applications/salmon
	url = https://github.com/labdao-apps/salmon
